

$font-family-sans-serif:      'baloo_paaji_2medium',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


fieldset{
  border:1px solid $black !important;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  padding: 20px !important;

}
legend{
  display: inline !important;
  width: auto !important;
  font-size: 1rem !important;
  color: #fff !important;
  padding: 5px 0!important;
  border-radius: 6px !important;
}


.hidden{
  display:none;
}
.shown{
  display:block;
}


// .banner-g{
//   display: block;
//   left:0;
//   top:-10;
//   position: absolute;
//   width: 100%;
//   height:40px;
//   background: url(../img/tools/banner-40h.svg);
//   background-size: 100% 100%;
//   background-repeat:no-repeat;
//   // padding:10px 5px !important;
// }
.banner-g{
  width:70px;
  height:35px;
   box-sizing: border-box;
  background: url(../img/tools/banner-30h.svg);
  background-size: 70px 35px;
  background-repeat:no-repeat;
}

.banner-c{
  width:70px;
  height:35px;
   box-sizing: border-box;
  background: url(../img/tools/bannerfull-30h.svg);
  background-size: 70px 35px;
  background-repeat:no-repeat;
} 

th.banner-size{
  width:70px;
}