

@import "color.scss";
@import "font.scss";
@import "commun.scss";
@import "tools.scss";


$input-color:$black-100;
$input-bg: $black-800;
$input-border-color: $black;


@import "bootstrap/scss/bootstrap.scss";

// .container-fluid .fill,.fill { 
//     min-height: 100%;
//     height: 100%;
// }

th{
	font-weight:400;
}
